.weather {
  place-self: center;
  padding: 40px;
  background: linear-gradient(65deg, #3c5b6f, #91bedc);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-bar {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 12px;
}
.search-bar > input {
  /* padding: 10px; */
  height: 50px;
  border: 0;
  outline: 0;
  border-radius: 40px;
  padding: 0 20px;
  background: #ffffff;
  color: #153448;
  font-size: 18px;
}
.search-bar > input::placeholder {
  color: #15344880;
}
.search-bar > img {
  padding: 13px;
  height: 50px;
  border: 0;
  outline: 0;
  border-radius: 40px;
  background: #ffffff;
}
.weather-icon {
  height: 150px;
  width: auto;
  margin: 30px;
}
.temperature {
  line-height: 1;
  color: #fff;
  font-size: 80px;
  font-weight: 600;
}
.location {
  color: #fff;
  font-size: 40px;
}

.weather-data {
  width: 100%;
  display: flex;
  margin: 40px 0 10px;
  align-items: center;
  gap: 20px;
  justify-content: space-around;
  color: #fff;
}
.weather-data > .col {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  font-size: 22px;
}
.weather-data > .col span {
  display: block;
  font-size: 16px;
}
.weather-data > .col img {
  width: 30px;
  margin-top: 5px;
}

.swal2-container{
  background: #153448;
  border-radius: 15px 15px 0 0;
  
}
.swal2-title{
  background: #205b83;
  border-radius: 15px 15px 0 0;
  width: 100%;
  font-size: 23px;
  padding: 10px;
}
.swal2-popup, .swal2-modal ,.swal2-show{
  background: linear-gradient(65deg, #3c5b6f, #91bedc);
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  font-family: "Poppins", sans-serif!important;
  border-radius: 15px ;
  max-width: 400px;
  border-top:10px solid #153448 ;

}
.swal2-confirm,.swal2-styled{
  background: #153448;
  color: #fff;
  font-weight: 500;
  border-radius: 15px ;
  margin: -5px;
  font-size: 15px;
}


@media (max-width: 500px) {
  /* Mobile view */
  .weather {
    padding: 20px;
  }
  .search-bar {
    padding: 10px;
    gap: 8px;
  }
  .search-bar > input {
    height: 40px;
    padding: 0 15px;
    font-size: 14px;
  }
  .search-bar > img {
    padding: 10px;
    height: 40px;
  }
  .weather-icon {
    height: 150px;
    width: auto;
    margin: 30px;
  }
  .temperature {
    font-size: 50px;
    margin-bottom: 10px;
  }
  .location {
    font-size: 25px;
  }
  .weather-data {
    width: 100%;
    margin: 30px 0 10px;
    gap: 15px;
    padding: 0 10px;
  }
  .weather-data > .col {
    font-size: 17px;
  }
  .weather-data > .col span {
    font-size: 14px;
  }
  .weather-data > .col img {
    width: 28px;
    margin-top: 5px;
  }
}
